# =========================
# Python
# =========================

__pycache__/
*.pyc
venv/
.venv/


# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# Node / React
# =========================

node_modules/
dist/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db